:root {
  --hero-footer-bg-color: #2a384e;
  --quote-bg-color: #e5e7eb;
  --light-bg-color: #fff;

  --hero-main-text: #191d24;
  --hero-secondary-text: #e5e7eb;
  --hero-logo-text: #f9faf8;
  --information-header-text: #1f2937;
  --quote-text: #1f2937;

  --button-color: #3882f6;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--light-bg-color);
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  color: var(--quote-bg-color);
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: var(--hero-footer-bg-color);
  padding-left: 175px;
  padding-right: 175px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--hero-logo-text);
  flex: 1;
}

.section-1 {
  display: flex;
  flex-direction: row;
  background-color: var(--hero-footer-bg-color);
  padding-left: 175px;
  padding-right: 175px;
  padding-top: 20px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.section-1-left {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

h1.section-1-header {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  font-weight: 900;
  color: var(--hero-logo-text);
  line-height: 100%;
}

p.section-1-text {
  display: flex;
  flex-direction: row;
  color: var(--quote-bg-color);
  margin-top: 20px;
}

button.section-1-button {
  display: flex;
  flex-direction: row;
  background: var(--button-color);
  color: var(--quote-bg-color);
  font-weight: bold;
  justify-content: center;
  width: 100px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 6px;
  border-color: var(--button-color);
}

img.section-1-img {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 350px;
  object-fit: cover;
  object-position: 100px -130px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  background-color: var(--light-bg-color);
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 50px;
  padding-bottom: 100px;
  align-items: center;
}

.section-2-h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: var(--hero-main-text);
  font-size: 36px;
  font-weight: 900;
}

.section-2-content {
  display: flex;
  flex-direction: row;
}

.section-2-img-and-text {
  display: flex;
  flex-direction: column;
}

.section-2-img {
  display: flex;
  border: 5px solid var(--button-color);
  border-radius: 15px;
  display: flex;
  width: 225px;
  height: 225px;
  object-fit: cover;
  object-position: 0px -100px;
  align-self: center;
}

.section-2-p {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.section-3 {
  display: flex;
  flex-direction: column;
  background-color: var(--quote-bg-color);
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.section-3-content {
}

.section-3-quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.section-3-h3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  background: var(--hero-footer-bg-color);
  padding-top: 20px;
}

.footer-p {
  padding-top: 10px;
  padding-bottom: 30px;
  color: var(--quote-bg-color);
  text-align: center;
}
